body {
    background-color: beige;
}

h1 {
    text-align: center;
    position: sticky;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
}

.inStock_items {
    display: block;
    padding: 5px;
}

.inStock_items img {
    margin-top: 25px;
    margin-bottom: 25px;
}
